<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 07</title>
	</head>
	<body>

		<div class="container-fluid">
			<div id="nav-index"></div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"></div>
				<div class="col-4">
					<div class="next">
						<a href="intro.html">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Siguiente
						</a>
					</div>
				</div>
			</div>
	
			<div class="scene">
				<div class="rocket">
					<img id="rocket">
				</div>
			</div>

			<footer  class="text-white text-center">
				<p>Autor: Edman Cota<br>
				<a href="https://github.com/EdmanUVG/Lab07-Web" target="_blank">GitHub</a></p>
			</footer>
		</div>

	</body>
</html>

