<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 03</title>
	</head>
	<body>

		<div class="container-fluid">
			<div id="nav-intro"></div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"></div>
				<div class="col-4">
					<div class="next">
						<a href="earth.html">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Siguiente
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 story">
					<h1 id="primero">Hola soy Eithan,</h1>
					<h1>El 13 de junio mi nave chocó contra un mini asteroide</h1> 
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="robot">
						<input type="checkbox" id="switch-button">
						<label for="switch-button">
							<div class="switch"></div>
						</label>
						
						<div class="face"></div>
						<div class="head"></div>
						<div class="body"></div>
						<div class="left-hand"></div>
						<div class="right-hand"></div>
						<div class="eye1"></div>
						<div class="eye2"></div>
					</div>
				</div>
			</div>
			<footer  class="footer text-white text-center">
				<p>Autor: Edman Cota<br>
				<a href="https://github.com/EdmanUVG/Lab07-Web" target="_blank">GitHub</a></p>
		  </footer>
		</div>
	</body>
</html>

