<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 03</title>
	</head>
	<body>

		<div class="container-fluid">
			<div id="nav-mars"></div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"></div>
				<div class="col-4">
					<div class="next">
						<a href="moon.html">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Siguiente
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 story">
					<h1 id="primero">Yo necesito de la luz del sol</h1>
					<h1>para poder cargar mis baterias y el agua me esta agotando</h1> 
				</div>
			</div>
			<div class="scenes">
				<div class="planet planet-mars">
					<div class="loader"><span></span></div>
					<div class="mars" id="mars"></div>
				</div>
			</div>
			<footer class="footer text-white text-center">
				<p>Autor: Edman Cota<br>
				<a href="https://github.com/EdmanUVG/Lab07-Web" target="_blank">GitHub</a></p>
		  </footer>
		</div>

	</body>
</html>

