<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 03</title>
	</head>
	<body>

		<!-- Bootstrap navbar -->
		<nav class="navbar navbar-expand-lg navbar-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="index.html"><img id="logo" height="35" alt=""></a>
		  </div>
		</nav>

		<div class="next">
			<div class="content">
				<a href="moon-sky.html">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					Siguiente
				</a>
			</div>
		</div>

		<div class="scenes">
			<div class="moon"></div>
		</div>

		<!-- Footer bootstrap -->
		<footer  class="text-white text-center">
			  <!-- Grid container -->
			<div class="container p4">
		  		<p>Autor: Edman Cota<br>
  				<a href="https://github.com/EdmanUVG/Lab07-Web" target="_blank">GitHub</a></p>
			</div>

		</footer>

	</body>
</html>

