<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 03</title>
	</head>
	<body>

		<div class="container-fluid">
			<div id="nav-moon"></div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"></div>
				<div class="col-4">
					<div class="next">
						<a href="night.html">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Siguiente
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 story">
					<h1 id="primero">Cada día me estoy agotando</h1>
					<h1>La luna ha sido mi único amigo</h1> 
				</div>
			</div>
			<div class="row">
				<div class="col-12 scenes">
					<div class="moon"></div>
				</div>
			</div>
		</div>

	</body>
</html>

