<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 03</title>
	</head>
	<body>

		<div class="container-fluid">
			<div id="nav-night"></div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"></div>
				<div class="col-4">
					<div class="next">
						<a href="solar.html">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Siguiente
						</a>
					</div>
				</div>
			</div>
			<div class="moon-scene">
				<h1 id="primero">Sueño algún día estar al aldo de las estrellas.</h1>
				<h1>Y poder salir de este lugar vacío</h1> 
				<div class="moon-sky"></div>
				<img id="forest" class="forest">
			</div>
			<footer class="footer text-white text-center">
				<p>Autor: Edman Cota<br>
				<a href="https://github.com/EdmanUVG/Lab07-Web" target="_blank">GitHub</a></p>
		  </footer>
		</div>
	</body>
</html>

