<!DOCTYPE html>
<html  lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Lab 03</title>
	</head>
	<body>

		<div class="container-fluid">
			<div class="square">
				<div class="content">
					<span></span>
					<span></span>
					<span></span>
					<h2>Gracias</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing 
						elit. Modi tempore, inventore repudiandae illo repellendus 
						eum provident magnam quia reiciendis cupiditate saepe id 
						quas dolorum. Explicabo reiciendis nulla fugit
						 tempora voluptatem?</p>
					<a href="index.html">Return Home</a>
				</div>
			</div>
		</div>
		
	</body>
</html>

